*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* screen */

.display{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-display{
    display: flex;
    height: calc(100% - 100px);
    width: 100%;
}

.bottom-display{
    
    height: 100px;
    width: 100%;

}


/* header */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: black;
    padding: 20px;
    color: #6d6d6d;
    
}

.logo-small{
    display: none;
}

.logo{
    width: 125px;
    padding-bottom: 20px;
}

.menu{
    
    justify-content: flex-end;
}

.menu ul li img{
    width: 16px;
}

.menu p img,.menu h3 img{
    width: 16px;
}

.menu p{
    padding: 10px 0;
    
}

.fa-square-plus {
    font-size: xx-large;

}

.menu ul{
    list-style-type: none; 
    
}

.menu h3{
    color: white;
    padding: 10px 0;
}

.menu li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 8px;
}

header>div{
    height:100%;
    display: flex;
    flex-direction: column;
    
} 
.menu h3 img{
    background-color: gray;
    border-radius: 50%;
    padding: 0px;
    width: 18px;
}

/* main */

main{
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    color: white;
    background-color: #141922;
    overflow: auto;
}

.top-main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 10%;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    z-index: 3;
    top: 0;
}

.btn-primary{
    margin-right: 180px;
    border-color: white;
    color: white;
    border-radius: 25px;
    padding: 6px 30px;
    background-color:#28282800;
}

.nav-main{
    margin-top: 80px;
    margin-bottom: 20px;
}

.nav-main ul{
    padding: 10px;
    color: #6d6d6d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none; 
}

main>h2,main>p{
    padding-left: 30px;
}

.row{
    display: flex;
    gap: 20px;
    padding: 30px;
    
}

.card{
    width: calc(100% / 6 - (20px / 6 *5));
    text-align: center;
    
    
}

.card img{
    width: 100%;
    
}

.play-hover .fa-regular.fa-circle-play{
    
    font-size: 3rem;
    position: absolute;
    transform: translate(-50% ,-50%);
    display: none;

}

.card-img{
    position: relative;
}

.play-hover{
    position: absolute;
    bottom: 50%;
    left: 50%;
}

.radius img{
    width: 100%;
    border-radius: 50%;
}

p,h5{
    color: #6d6d6d;
}

/* player bar  footer*/

.player-bar{
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    
}

.player-center,.player-left,.player-right{    
    color: white;

}

/* .player-left */

.player-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 10px;
    gap: 10px;
}

.player-left img{
    height: 100%;
}

.player-left .icon{
    color: gray;
    display: flex;
    gap: 10px;
}

/* player-center */

.player-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 35%;
    padding: 10px;
}

.player-center .icon{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.play-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
}

.bar{
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #6d6d6d;
}

.play-bar .bar .tim-line{

    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-radius: 2px;
    width: 30%;
    height: 100%;
    background-color: white;

    position: relative;
  animation-name: animation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
}

.fa-circle-play{
    font-size:xx-large;
}

@keyframes animation {
    0%   {width: 0%;}
    50%  {width: 50%;}
    100% {width: 100%;}

}

/* .player-right */

.player-right{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 14px;
    min-width: 180px;
    padding: 10px;
}

.player-right .tim-line{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 2px;
    height: 100%;
    background-color: white;
}




.cursor{
    display: none;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
}


/* acctive */

.nav-main ul li{
    position: relative;
}

.nav-main ul li:active::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    height: 3px;
    width: 30px;
    background-color: greenyellow;
    transform: translateX(-50%)
}

.menu ul li {
    position: relative;
}

.menu ul li:active:before{
    content: "";
    position: absolute;
    
    left: -11%;
    height: 25px;
    width: 3px;
    background-color: greenyellow;
    transform: translateX(-50%)
}

/* hover */

.menu li:hover,.menu span:hover{
    color: white;
    cursor: pointer;
}

.nav-main li:hover{
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    transform: scale(1.4);
    cursor: pointer;
}

.card img:hover {
    opacity:30% ;
    cursor: pointer;
}
.card:hover .fa-regular.fa-circle-play{
    display: block;
    cursor: pointer;
}

.fa-circle-play:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.bar .tim-line:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.bar .tim-line:hover .cursor{
    display: flex;
    cursor: pointer;
}

.player-left .icon i:hover{
    cursor: pointer;

    color: white;
}

/* responsive */

@media screen and (max-width:992px) {


    .nav-main ul{
        flex-wrap: wrap;
    }
    .row{
        flex-wrap: wrap;
    }

    .card{
       
        width: calc(100% / 4 - (20px / 4 * 3 ));
    }
    
}

@media screen and (max-width:768px){

    .card{
        width: calc(100% / 2 - (20px / 2))
    }

}

@media screen and (max-width:620px){
    
    header{
        width: 60px;
    }

    header>.menu{
        display: flex;
    }

    header>.menu span,hr{
        display: none;
    }

    main{
        
    width: calc(100% - 40px);

    }

    .menu,li span,.logo {
        display: none;
    }
    
    .player-left img {
        width: 25px;
        height: auto;
    }

    .player-left .icon {
       flex-direction: column;
       padding-right: 10px;
    }

    .player-left .play-text {
       font-size: x-small;
    }

    .menu:first-of-type{
        display: flex;
        
        justify-content: center;
    }
    
    .logo-small{
        display: block;
        width: 20px;

    }

    .player-center .icon {
        gap: 15px;
        font-size: medium;
    }
}