*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* screen */
.display{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-display{
    display: flex;
    height: calc(100% - 100px);
    width: 100%;
}

.bottom-display{
    
    height: 100px;
    width: 100%;

}


/* header */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: black;
    padding: 20px;
    color: #6d6d6d;
    
}

header div>img{
    width: 125px;
    padding-bottom: 20px;
}

.menu{
    
    justify-content: flex-end;
    
}

.menu ul li img{
    width: 16px;
}

.menu p img,.menu h3 img{
    width: 16px;
}

.menu p{
    padding: 10px 0;
    
}

.fa-square-plus {
    font-size: xx-large;

}

.menu ul{
    list-style-type: none; 
    
}
.menu h3{
    color: white;
    padding: 10px 0;
}

.menu li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 8px;
}


header>div{
    height:100%;
    display: flex;
    flex-direction: column;
    
} 


/* main */

main{
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    color: white;
    background-color: #141922;
    overflow: auto;
}

.top-main{
    width: 100%;
    
    background-color: #080b12;
    padding: 20px;
    display: flex;
    justify-content: end;
}

.btn-primary{
    border-color: white;
    color: white;
    border-radius: 25px;
    padding: 6px 35px;
    background-color:#28282800;
}

.nav-main ul{
    padding: 10px;
    color: #6d6d6d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none; 
}

main>h2,main>p{
    padding-left: 30px;
}

.row{
    display: flex;
    gap: 20px;
    
    padding: 30px;
    
}

.card{
    width: calc(100% / 6 - (20px / 5));
    text-align: center;
   
    
}
.card img{
    width: 100%;
 
}

.radius img{
    width: 100%;
    border-radius: 50%;
}

p,h5{
    color: #6d6d6d;
}


/* player bar  footer*/

.player-bar{
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.player-center,.player-left,.player-right{    
    color: white;

}

.player-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 10px;
    gap: 10px;
}

.player-left img{
    height: 100%;
}
.player-left .icon{
    display: flex;
    gap: 10px;
}

.player-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    padding: 10px;
}

.player-center .icon{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.play-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.bar{
    width: 100%;
    height: 4px;
    background-color: #6d6d6d;
}

.play-bar .bar .tim-line{
    width: 30%;
    height: 100%;
    background-color: white;
}

.player-right{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 200px;
    padding: 10px;
}

.player-right .tim-line{
    width: 30%;
    height: 100%;
    background-color: white;
}

/* responsive */

@media screen and (min-width:768px) and (max-width:992px) {



    .nav-main ul{
        flex-wrap: wrap;
    }
    .row{
        flex-wrap: wrap;
    }

    .card{
        width: calc(100% / 4 - (20px / 1))
    }
    
}